*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;   
    font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
a,
p {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    font-size: 1rem;
    line-height: 1.5;
}
img {
    max-width: 100%;
    height: auto;
}
:root {
    --color-white: #FFF;
    --color-black: #000;
    --color-green: #14643C;
    --color-yellow: #D1B657;
    --color-grey: rgba(0, 0, 0, 0.75);
    --fs-65: 65px;
    --fs-52: 52px;
    --fs-50: 50px;
    --fs-45: 45px;
    --fs-40: 40px;
    --fs-32: 32px;
    --fs-30: 30px;
    --fs-25: 25px;
    --fs-22: 22px;
    --fs-20: 20px;
    --fs-18: 18px;
    --fs-16: 16px;
    --fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--color-black);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}
.preloader.hidden {
    top: -100%;
    background: var(--color-green);
}
.loader-image {
    max-width: 632px;
    width: 100%;
    transition: all 1s ease-in-out;
}
.loader-image img {
    display: none;
    width: 100%;
    animation-name: zoom;
    animation-duration: 700ms;
}
.loader-image img.show {
    display: block;
}
.margin-top {
    margin-top: 162px;
}
.site-header {
    position: relative;
    width: 100%;
    top: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.40);
    transition: all .4s ease-in-out;
}
.site-header.blur {
    -webkit-backdrop-filter: blur(7.5px);
    backdrop-filter: blur(7.5px);
}
.site-logo {
    max-width: 306px;
    width: 100%;
}
.grid-header {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 18px;
}
.universal-btn {
    display: inline-block;
    padding: 12px 34px;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    text-align: center;
    font-size: var(--fs-18);
    font-weight: var(--fw-400);
    line-height: 20px;
    background: transparent;
    transition: all .4s ease-in-out;
}
.universal-btn:hover {
    background: var(--color-white);
    color: var(--color-green);
}
.universal-btn.black {
    color: var(--color-black);
    border: 1px solid var(--color-black);
}
.universal-btn.black:hover {
    background-color: var(--color-white);
    border-color: var(--color-white);
    color: var(--color-green);
}
.universal-btn.green {
    border-color: var(--color-green);
    color: var(--color-green);
}
.universal-btn.green:hover {
    background-color: var(--color-green);
    color: var(--color-white);
}
.footer-quote .universal-btn.black:hover {
    border-color: var(--color-green);
}
.main-navigation {
    position: relative;
    z-index: 11;
    padding-top: 14px;
    padding-bottom: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.60);
    border-bottom: 1px solid rgba(255, 255, 255, 0.60);
}
.main-navigation ul {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.main-navigation ul li a {
    color: var(--color-white);
    font-size: var(--fs-16);
    font-weight: var(--fw-500);
    line-height: 18px;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}
.main-navigation ul li a:hover,
ul li.current-menu-item a {
    color: var(--color-yellow);
}
.side-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
    background: rgba(0, 0, 0, 0.2);
    transition: all .4s ease-in-out;
}
.mobile-menu {
    display: none;
    text-align: right;
}
.mobile-toggle {
    display: inline-block;
    max-width: 40px;
    width: 100%;
}
.hamburger {
    top: 50%;
    width: 35px;
    height: 3px;
    background: var(--color-white);
    position: relative;
    z-index: 1;
    outline: none;
    border: none;
    margin-bottom: 16px;
    transition: all .4s ease-in-out;
}
.hamburger-one:before, .hamburger-one:after {
    content: '';
    position: absolute;
    left: 0;
    width: 35px;
    height: 3px;
    background: var(--color-white);
    box-shadow: var(--bright-text-shadow);
    transition: 0.5s;
}
.hamburger:before {
    top: -12px;
}
.hamburger:after {
    top: 12px;
}
.close-menu {
    display: none;
    background: transparent;
    border: none;
    margin-bottom: 30px;
}

.site-footer {
    position: relative;
}
.footer-box {
    display: flex;
}
.main-footer {
    max-width: 1122px;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    padding: 74px 100px 40px 40px;
}
.side-footer {
    background: var(--color-white);
    padding: 10px;
    padding-top: 74px;
    max-width: 798px;
    width: 100%;
    text-align: center;
}
.footer-wrapper {
    display: flex;
    gap: 40px;
    margin-bottom: 160px;
    justify-content: space-between;
    max-width: 803px;
    width: 100%;
    margin-left: auto;
}
.footer-links li a {
    display: inline-block;
    color: #F2EFE9;
    font-size: var(--fs-45);
    font-weight: var(--fw-500);
    line-height: 73px;
    white-space: nowrap;
    transition: all .4s ease-in-out;
}
.footer-links li a:hover {
    color: var(--color-yellow);
}
.subscribe-mail {
    max-width: 354px;
    width: 100%;
}
.subscribe-heading {
    color: #F2EFE9;
    font-size: var(--fs-30);
    font-weight: var(--fw-500);
    line-height: 39px;
    margin-bottom: 40px;
}
.subscribe-mail .input-box label {
    display: none;
}
.subscribe-mail .input-box input {
    background: transparent;
    border: 1px solid var(--color-white);
    padding: 13px 20px;
    width: 100%;
    color: var(--color-white);
    font-family: Poppins;
    font-size: var(--fs-16);
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    border-radius: 0;
}
.subscribe-mail .input-box {
    margin-bottom: 30px;
}
.subscribe-mail input[type="submit"] {
    border: 1px solid var(--color-white);
    padding: 12px 34px;
    width: 100%;
    display: inline-block;
    background: transparent;
    color: var(--color-white);
    text-align: center;
    font-size: var(--fs-18);
    font-style: normal;
    font-weight: var(--fw-400);
    line-height: 20px;
    transition: all .4s ease-in-out;
}
.subscribe-mail input[type="submit"]:hover {
    background: var(--color-white);
    color: var(--color-green);
}
.copyright {
    max-width: 827px;
    width: 100%;
    margin-left: auto;
}
.copyright p {
    color: var(--color-white);
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 18px;
}
.copyright p a {
    color: var(--color-white);
}
.footer-logo {
    margin-bottom: 40px;
}
.extra-links {
    max-width: 322px;
    width: 100%;
    margin: 0 auto 26px;
}
.extra-links li {
    margin-bottom: 16px;
}

.extra-links li a {
    color: var(--color-black);
    text-align: center;
    font-size: var(--fs-20);
    font-weight: 300;
    line-height: 30px;
    display: inline-block;
}
.social-links li a {
    color: var(--color-black);
    font-size: var(--fs-16);
    font-weight: var(--fw-500);
    line-height: 18px;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}
.social-links li a:hover {
    color: var(--color-green);
}
.social-links {
    margin-top: 110px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.call-section {
    background: #14643C;
    padding: 75px 0;
}
.call-box {
    position: relative;
    text-align: center;
}
.call-heading {
    color: var(--color-white);
    text-align: center;
    font-size: var(--fs-40);
    font-weight: var(--fw-600);
    line-height: 60px;
    max-width: 757px;
    width: 100%;
    margin: 0 auto 30px;
}

.call-link {
    color: var(--color-yellow);
    text-align: center;
    font-size: var(--fs-40);
    font-weight: var(--fw-700);
    line-height: 65px;
}

.our-promise-section {
    position: relative;
    padding: 240px 0;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom right;
}
.our-promise-box {
    max-width: 1073px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.primary-heading {
    color: var(--color-black);
    font-size: var(--fs-40);
    font-weight: var(--fw-700);
    line-height: 65px;
    margin-bottom: 45px;
}
.promise-description {
    color: var(--color-black);
    font-size: var(--fs-22);
    font-style: normal;
    font-weight: var(--fw-300);
    line-height: 38px;
}
.side-box {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}
.side-heading {
    color: rgba(0, 0, 0, 0.10);
    font-size: var(--fs-65);
    font-weight: var(--fw-900);
    line-height: 1;
    text-transform: uppercase;
    writing-mode: tb;
    transform: rotateZ(180deg);
    pointer-events: none;
    white-space: nowrap;
}
.products-section .side-box {
    top: 39%;
}
.side-heading.white {
    color: rgba(255, 255, 255, 0.10);
}
.products-section {
    position: relative;
    text-align: center;
    padding: 110px 0 140px;
}
.products-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    max-width: 1532px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
    z-index: 2;
    background-color: var(--color-white);
}  
.product-detail {
    position: relative;
    bottom: 0;
    transform: translateY(200%);
    transition: all 1s ease-in-out;
} 
.flip-box {
    position: relative;
    max-width: 484px;
    width: 100%;
    height: 407px;
    background-color: transparent;
    perspective: 1000px;
    overflow: hidden;
}
.flip-box-back {
    color: #fff;
    position: relative;
}
.flip-box-inner {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-box-back, .flip-box-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-box-back img {
    filter: blur(6.5px) brightness(0.6);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.product-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(20%);
    transition: all 1s ease-in-out;
}
.product-title {
    color: var(--color-white);
    text-align: center;
    font-size: var(--fs-40);
    font-weight: 500;
    line-height: 65px;
    margin-bottom: 30px;
    transition: all 1s ease-in-out;
}
.product-option {
    color: var(--color-white);
    text-align: center;
    font-size: var(--fs-30);
    font-weight: 500;
    line-height: 1.2;
    max-width: 90%;
    width: 100%;
    margin: 0 auto 40px;
}
.product-link {
    display: inline-block;
    border: 1px solid var(--color-white);
    padding: 12px 34px;
    color: var(--color-white);
    font-size: var(--fs-18);
    font-weight: 400;
    line-height: 20px;
    transition: all .4s ease-in-out;
}

.flip-box-back, .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
.flip-box:hover .product-detail {
    position: static;
    transform: translateY(0);
}
.flip-box:hover .product-content {
    transform: none;
}
.flip-box:hover .flip-box-inner .flip-box-back img {
    animation-name: clipAnimate;
    animation-duration: 1.4s;
}

.services-section {
    position: relative;
    padding: 84px 0;
    background: var(--color-green);
}
.services-slider-box {
    position: relative;
    max-width: 1532px;
    width: 100%;
    margin: 0 auto;
}
.service-slide-image img {
    width: 100%;
}
.service-content-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper.serviceContentSlider {
    max-width: 532px;
}
.service-content {
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding: 60px 50px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(2px);
}
.service-heading-primary {
    color: var(--color-black);
    font-size: var(--fs-22);
    font-weight: var(--fw-400);
    line-height: 31px;
    margin-bottom: 12px;
}
.service-heading-secondary {
    color: var(--color-green);
    font-size: var(--fs-30);
    font-weight: var(--fw-700);
    line-height: 37px;
    margin-bottom: 12px;
}
.service-description {
    color: var(--color-black);
    font-size: var(--fs-22);
    font-style: normal;
    font-weight: var(--fw-300);
    line-height: 31px;
    margin-bottom: 45px;
}
.service-bg {
    padding: 12px;
    border: 2px solid var(--color-white);
}
.swiper.serviceContentSlider .swiper-slide,
.swiper.myHeroSlider .swiper-slide {
    opacity: 0 !important;
}
.swiper.serviceContentSlider .swiper-slide.swiper-slide-active,
.swiper.myHeroSlider .swiper-slide.swiper-slide-active {
    opacity: 1 !important;
}

.hero-section {
    position: relative;
    margin-top: -162px;
}
.image-home {
    max-width: 1920px;
    height: 929px;
}
.image-home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.welcome-holder {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-35%);
    z-index: 11;
    max-width: 940px;
    width: 100%;
    transition: all .4s ease-in-out;
}
.title-holder {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slider-content {
    max-width: 624px;
    width: 100%;
    padding-left: 16px;
}
.slider-heading {
    color: var(--color-green);
    font-size: var(--fs-52);
    font-weight: var(--fw-700);
    line-height: 65px;
    margin-bottom: 10px;
    animation-name: fadeDown;
    animation-duration: 1s;
}
.slider-description {
    color: var(--color-black);
    font-size: var(--fs-25);
    font-weight: 400;
    line-height: 38px;
    animation-name: fadeDown;
    animation-duration: 1s;
}
.slider-content .universal-btn {
    margin-top: 28px;
    animation-name: fadeDown;
    animation-duration: 1s;
}

/* Inner Pages CSS Starts */

.single-product-section {
    position: relative;
    padding: 100px 0 180px;
}
.single-product-box {
    position: relative;
    max-width: 1274px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 40px;
}
.single-product-wrap {
    max-width: 758px;
    width: 100%;
}
.product-type-heading {
    color: var(--color-black);
    font-size: var(--fs-22);
    font-weight: var(--fw-700);
    line-height: 30px;
    margin-bottom: 40px;
}
.products-list li {
    color: #404040;
    margin-bottom: 24px;
    transition: all .4s ease-in-out;
}
.products-list li a {
    display: inline-block;
    color: inherit;
    font-size: var(--fs-22);
    font-weight: var(--fw-500);
    line-height: 30px;
    cursor: default;
}
.products-list li:hover {
    color: rgba(13, 113, 87, 0.95);
}
.products-list {
    list-style: disc;
    padding-left: 2rem;
}
.product-type-box {
    max-width: fit-content;
    width: 100%;
}
.single-product-heading {
    color: rgba(27, 121, 96, 0.90);
    font-size: var(--fs-40);
    font-weight: var(--fw-700);
    line-height: 1;
    margin-bottom: 30px;
}
.product-slide {
    max-width: 758px;
    height: 500px;
}
.product-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.myThumbSlider .swiper-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.myProductSlider {
    margin-bottom: 10px;
}
.myThumbSlider .swiper-slide {
    max-width: 75px;
    cursor: pointer;
    border: 1px solid #D9D9D9;
}
.single-product-section::after,
.contact-section::after,
.project-section::after {
    content: '';
    position: absolute;
    right: 0;
    width: 483px;
    height: 483px;
    top: 81%;
    mix-blend-mode: luminosity;
    background-image: url(../images/patterns.webp);
    background-size: 100%;
    opacity: .7;
}
.project-section::after {
    top: 86%;
}
.single-product-section::after {
    top: 78%;
}
.contact-section {
    position: relative;
    padding: 80px 0;
}
.contact-box {
    max-width: 1253px;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    padding: 60px 20px;
}
.contact-heading {
    text-align: center;
    color: var(--color-black);
    font-size: var(--fs-40);
    font-weight: var(--fw-700);
    line-height: 40px;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    margin-bottom: 52px;
}
.contact-form {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 40px;
    position: relative;
    z-index: 1;
    max-width: 1013px;
    width: 100%;
    margin: 0 auto;
}
.contact-form .input-group label,
.contact-form .input-message label,
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    color: var(--color-black);
    font-size: var(--fs-18);
    font-weight: var(--fw-400);
    line-height: 30px;
    color: #ABABAB;
}
.contact-form .input-group input, .contact-form .input-message textarea, .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-radius: 0;
    border: none;
    background: #FFF;
    color: var(--color-black);
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
    line-height: normal;
    height: 40px;
    padding: 10px;
    outline: none;
    border-bottom: 1px solid #989898;
    transition: all .4s ease-in-out;
}
.contact-form .input-group input:focus, .contact-form .input-message textarea:focus, 
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback):focus {
    border-bottom-color: var(--color-black);
}
.contact-form .input-group {
    display: flex;
    flex-direction: column;
    max-width: calc(50% - 25px);
}
.contact-form .input-message {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contact-form .input-message textarea {
    height: 50px;
}
.submit-form {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}
.submit-form input[type="submit"] {
    border: 1px solid var(--color-green);
    display: inline-block;
    padding: 12px 34px;
    color: var(--color-green);
    text-align: center;
    font-size: var(--fs-18);
    font-weight: var(--fw-400);
    line-height: 20px;
    background: var(--color-white);
    max-width: 166px;
    width: 100%;
    transition: all .4s ease-in-out;
}
.submit-form input[type="submit"]:hover {
    background-color: var(--color-green);
    color: var(--color-white);
}
.intro-section {
    position: relative;
    padding: 60px 0 120px;
}
.intro-heading {
    color: var(--color-black);
    text-align: center;
    font-size: var(--fs-40);
    font-weight: var(--fw-700);
    line-height: 65px;
    position: relative;
    max-width: fit-content;
    margin: 0 auto 40px;
}
.intro-heading::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 120px;
    background-image: url(../images/heading-bg.webp);
    transform: translate(-50%, -50%);
}
.intro-description {
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-size: var(--fs-32);
    font-weight: var(--fw-400);
    line-height: 48px;
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.brif-section {
    position: relative;
    padding: 60px 0 180px;
}
.brif-box {
    position: relative;
    margin-bottom: 180px;
}
.brif-box:last-child {
    margin-bottom: 0;
}
.brif-box::before {
    content: '';
    position: absolute;
    top: -60px;
    left: 0;
    background: var(--color-green);
    width: 695px;
    height: 650px;
}
.brif-box::after {
    content: '';
    position: absolute;
    top: -60px;
    left: 0;
    background-image: url(../images/pattern-flow.png);
    width: 647px;
    height: 647px;
    opacity: .8;
    mix-blend-mode: luminosity;
}
.brif-box .custom-container {
    max-width: 1550px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.brif-box .brif-wraped {
    max-width: 1370px;
    width: 100%;
    display: flex;
    gap: 130px;
    justify-content: start;
    align-items: center;
}
.row-title {
    color: rgba(209, 182, 87, 0.20);
    text-align: center;
    font-size: var(--fs-40);
    font-weight: var(--fw-700);
    line-height: 65px;
    writing-mode: tb;
    transform: rotateZ(180deg);
}
.brif-image {
    max-width: 625px;
    width: 100%;
    height: 530px;
}
.brif-content {
    max-width: 614px;
    width: 100%;
}
.brif-heading {
    color: var(--color-yellow);
    font-size: var(--fs-40);
    font-weight: var(--fw-700);
    line-height: 65px;
    margin-bottom: 20px;
}
.brif-description,
.brif-list li {
    color: #000;
    font-size: var(--fs-22);
    font-weight: var(--fw-300);
    line-height: 30px;
}
.brif-box:nth-child(even) .custom-container {
    flex-direction: row-reverse;
    max-width: 1650px;
}
.brif-box:nth-child(even) .row-title {
    transform: none;
    max-height: 565px;
}
.brif-box:nth-child(even) .brif-wraped {
    flex-direction: row-reverse;
    max-width: 1460px;
    justify-content: end;
}
.brif-box:nth-child(even)::before,
.brif-box:nth-child(even)::after {
    right: 0;
    left: auto;
}
.brif-box:nth-child(even) .brif-content {
    text-align: right;
    max-width: 707px;
}

.intro-section.service-intro {
    padding: 60px 0;
}
.service-manage .row-ways {
    max-height: 565px;
}
.service-manage .brif-heading {
    line-height: 1.2;
}
.service-manage .brif-description {
    padding-bottom: 16px;
}
.service-manage .universal-btn {
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
.brif-list li {
    margin-bottom: 10px;
}
.service-manage .brif-box:nth-child(even)::before, .service-manage .brif-box:nth-child(even)::after {
    height: 116%;
    top: -8%;
}
.service-manage .row-ways .row-title {
    line-height: 1.2;
}
.project-section {
    padding: 60px 0 80px;
    position: relative;
}
.projects-box {
    max-width: 1532px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.project-item {
    max-width: 484px;
    height: 407px;
    overflow: hidden;
    position: relative;
    transition: all .4s ease;
}
.project-item:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.project-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    text-align: center;
    font-size: 40px;
    font-weight: var(--fw-500);
    line-height: 65px;
    padding: 10px
}
.project-img, .project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.group-selection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    row-gap: 10px;
}
.msd {
  width: 100%;
  position: relative;
  user-select: none;
  color: #434B3A;
}
.msd_label {
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 3px;
    border: 1px solid #989898;
    background: #FFF;
    color: #14643C;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    width: 291px;
    padding: 0 10px;
}
.msd_label img {
    margin-right: 15px;
}
.msd_options_container {
    position: absolute;
    width: 100%;
    top: 100%;
    display: none;
    z-index: 99;
}
.msd_options {
    border-radius: 3px;
    border: 1px solid #989898;
    background: #FFF;
    overflow: hidden;
    overflow-y: auto;
    max-height: 360px;
    position: relative;
}
.msd_options::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}
.msd_options::-webkit-scrollbar-thumb {
	background-color: var(--color-green);
}
.msd_options_option {
    text-align: center;
    padding: 10px;
    position: relative;
    display: block;
    color: #19785F;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
    border-bottom: 1px solid #989898;
    transition: all .4s ease-in-out;
}
.msd_options_option:last-child {
    border: none;
}
.msd_options_option-check, .msd_options_option:hover {
    color: #FFF;
    background: #14643C;
}
.msd_options_checkbox {
  display: none;
}
.msd_options_option img {
    margin-right: 8px;
    display: none;
}
.msd_options_option-check img {
    display: inline-block;
}

.quote_modal {
    position: fixed;
    top: -200%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: all 500ms ease-in-out;
}
.quote_modal.show-modal {
    top: 0;
    opacity: 1;
    visibility: visible;
}
span.close-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}
.quote_modal .modal-dialog {
    max-width: 800px;
    width: 100%;
    max-height: 800px;
    overflow-y: auto;
}
.quote_modal .modal-dialog .modal-content {
    padding: 30px 30px 40px;
    position: relative;
    background: #FFF;
    border-radius: 10px;
}
.modal-title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, .7);
}
button.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
}
.modal-content .contact-form {
    row-gap: 20px;
}

.upcoming-sec {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);
    min-height: 100vh;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.upcoming-sec::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(10 10 10 / 55%);
}
.error-container {
    position: relative;
    z-index: 1;
    max-width: 900px;
    width: 100%;
    text-align: center;
    background: #000000b5;
    margin: 0 auto;
    padding: 50px 20px;
}
.error-title {
    font-size: var(--fs-52);
    font-weight: var(--fw-700);
    line-height: normal;
    color: var(--color-white);
    padding-bottom: 20px;
    line-height: normal;
}
.upcoming-sec p {
    font-size: var(--fs-20);
    padding-bottom: 16px;
    font-weight: var(--fw-200);
}
.upcoming-sec p a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: var(--fw-500);
    transition: 0.3s ease-in;
}
.upcoming-sec p a:hover {
    color: var(--color-yellow);
}
span.cls-me {
    position: fixed;
    background: rgba(0, 0, 0, .01);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes zoom {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes clipAnimate {
    0% {
        clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive CSS Starts  */

@media(min-width:1600px) {
	.container {
		max-width: 1600px
	}
}
@media (max-width: 1600px) {
    :root {
        --fs-18: 17px;
        --fs-45: 40px;
        --fs-32: 30px;
        --fs-30: 26px;
        --fs-20: 18px;
        --fs-40: 36px;
        --fs-52: 48px;
        --fs-25: 24px;
        --fs-65: 55px;
    }
    .loader-image {
        max-width: 540px;
    }
    .site-logo {
        max-width: 280px;
    }
    .grid-header {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .universal-btn {
        padding: 10px 32px;
    }
    .footer-links li a {
        line-height: 70px;
    }
    .subscribe-mail .input-box {
        margin-bottom: 20px;
    }
    .subscribe-mail {
        max-width: 320px;
    }
    .call-heading, .call-link {
        line-height: 50px;
    }
    .our-promise-section {
        padding: 200px 0;
    }
    .primary-heading {
        margin-bottom: 30px;
        line-height: 1.5;
    }
    .flip-box, .project-item {
        height: 340px;
    }
    .product-title {
        line-height: 1;
    }
    .products-section {
        padding: 100px 0;
    }
    .hero-section {
        margin-top: -150px;
    }
    .image-home {
        height: 860px;
    }
    .slider-heading {
        line-height: 1.2;
    }
    .slider-content {
        padding-left: 30px;
    }
    .single-product-section::after,
    .contact-section::after,
    .project-section::after {
        width: 400px;
        height: 400px;
    }
    .brif-box::before {
        width: 650px;
    }
    .brif-box .brif-wraped {
        gap: 75px;
    }
    .brif-box .custom-container, .brif-box:nth-child(even) .custom-container {
        max-width: 1450px;
        gap: 40px;
    }
    .service-manage .row-ways {
        max-height: 544px;
    }
    .service-manage .brif-box:nth-child(even)::before, .service-manage .brif-box:nth-child(even)::after {
        top: -9%;
    }
    .project-title {
        font-size: 36px;
    }
    .msd_label, .msd_options_option {
        font-size: 16px;
        line-height: normal;
    }
}
@media (max-width: 1400px) {
    :root {
        --fs-18: 16px;
        --fs-45: 32px;  
        --fs-32: 26px;
        --fs-30: 24px;
        --fs-40: 32px;
        --fs-22: 20px;
        --fs-52: 44px;
        --fs-25: 22px;
        --fs-65: 45px;
    }
    .hero-section {
        margin-top: -145.72px;
    }
    .loader-image {
        max-width: 480px;
    }
    .site-logo {
        max-width: 260px;
    }
    .footer-links li a {
        line-height: 60px;
    }
    .main-footer {
        padding-right: 40px;
    }
    .subscribe-heading {
        line-height: 1.5;
        margin-bottom: 20px;
    }
    .subscribe-mail .input-box input {
        padding: 12px 20px;
    }
    .social-links {
        margin-top: 70px;
    }
    .copyright p {
        line-height: 1.5;
    }
    .call-heading {
        line-height: 45px;
        max-width: 600px;
    }
    .our-promise-section {
        padding: 150px 0;
    }
    .our-promise-box {
        max-width: 990px;
    }
    .flip-box, .project-item {
        height: 300px;
    }
    .product-title {
        margin-bottom: 20px;
    }
    .product-option {
        margin: 0 auto 20px;
    }
    .products-wrapper, .projects-box {
        gap: 20px;
    }
    .products-wrapper {
        padding-top: 30px;
    }
    .products-section {
        padding: 80px 0;
    }
    .service-content {
        padding: 40px;
    }
    .image-home {
        height: 840px;
    }
    .slider-description {
        line-height: 1.5;
    }
    .single-product-section::after,
    .contact-section::after,
    .project-section::after {
        width: 300px;
        height: 300px;
        top: 90%;
    }
    .myThumbSlider .swiper-wrapper {
        gap: 10px;
    }
    .single-product-wrap {
        max-width: 680px;
    }
    .product-slide {
        height: 450px;
    }
    .single-product-section {
        padding: 80px 0 150px;
    }
    .products-list li {
        margin-bottom: 20px;
    }
    .intro-section, .contact-section {
        padding: 60px 0;
    }
    .brif-box::before, .brif-box::after {
        width: 40%;
        height: 124%;
        top: -12%;
    }
    .brif-heading {
        line-height: normal;
        margin-bottom: 10px;
    }
    .brif-image {
        max-width: 520px;
        height: auto;
    }
    .intro-description {
        line-height: normal;
    }
    .brif-content {
        max-width: 560px;
    }
    .brif-box .brif-wraped {
        gap: 60px;
    }
    .brif-box .custom-container, .brif-box:nth-child(even) .custom-container {
        max-width: 1140px;
    }
    .brif-description, .brif-list li {
        font-size: 16px;
        line-height: normal;
    }
    .brif-section {
        padding: 50px 0 120px;
    }
    .service-manage .row-ways {
        max-height: 452px;
    }
    .project-title {
        font-size: 32px;
    }
    .msd_options_option {
        font-size: 15px;
    }
    .brif-box:nth-child(even) .row-title {
        max-height: 452px;
    }
}
@media (max-width: 1200px) {
    :root {
        --fs-16: 15px;
        --fs-45: 28px;
        --fs-32: 20px;
        --fs-30: 20px;
        --fs-20: 17px;
        --fs-40: 26px;
        --fs-22: 18px;
        --fs-52: 40px;
        --fs-25: 19px;
    }
    .main-navigation ul {
        gap: 60px;
    }
    .footer-links li a {
        line-height: 50px;
    }
    .footer-logo {
        max-width: 260px;
        width: 100%;
        margin: 0 auto 30px;
    }
    .extra-links li a {
        line-height: 1.5;
    }
    .call-section {
        padding: 60px 0;
    }
    .call-heading {
        line-height: 40px;
        margin: 0 auto 16px;
    }
    .our-promise-section {
        padding: 100px 0;
    }
    .primary-heading {
        margin-bottom: 20px;
    }
    .promise-description {
        line-height: 1.8;
    }
    .our-promise-section {
        background-size: 600px;
    }
    .flip-box, .project-item {
        height: 250px;
    }
    .service-content {
        padding: 40px 20px;
    }
    .service-description {
        line-height: 1.4;
        margin-bottom: 30px;
    }
    .service-heading-secondary {
        line-height: 1.4;
        margin-bottom: 10px;
    }
    .title-holder {
        height: 480px;
    }
    .welcome-holder {
        left: 5%;
        max-width: 920px;
    }
    .slider-content {
        max-width: 560px;
    }
    .side-box {
        display: none;
    }
    .single-product-wrap {
        max-width: 600px;
    }
    .product-slide {
        height: 400px;
    }
    .products-list li {
        margin-bottom: 16px;
    }
    .product-type-heading {
        margin-bottom: 30px;
    }
    .contact-heading {
        margin-bottom: 40px;
    }
    .intro-heading::after {
        width: 260px;
        height: 80px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .intro-heading {
        line-height: normal;
        margin: 0 auto 20px;
    }
    .intro-description {
        max-width: 880px;
    }
    .brif-box .custom-container, .brif-box:nth-child(even) .custom-container {
        max-width: 960px;
        gap: 20px;
    }
    .row-title {
        line-height: normal;
    }
    .brif-description, .brif-list li {
        font-size: 15px;
        line-height: normal;
    }
    .brif-box .brif-wraped {
        gap: 45px;
    }
    .brif-box {
        margin-bottom: 120px;
    }
    .service-manage .row-ways {
        max-height: 380px;
    }
    .project-title {
        font-size: 30px;
    }
    .group-selection {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 50px;
        row-gap: 16px;
    }
    .msd_label {
        width: 100%;
    }
    .brif-box:nth-child(even) .row-title {
        max-height: 380px;
    }
}
@media (max-width: 992px) {
    :root {
        --fs-18: 15px;
        --fs-40: 24px;
        --fs-32: 18px;
        --fs-22: 17px;
        --fs-52: 36px;
        --fs-25: 18px;
    }
    .preloader {
        display: none;
    }
    .hero-section {
        margin-top: -133.52px;
    }
    .loader-image {
        max-width: 420px;
    }
    .grid-header,
    .main-navigation {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .site-logo {
        max-width: 200px;
    }
    .universal-btn {
        padding: 8px 28px;
    }
    .mobile-menu {
        display: block;
    }
    .main-navigation ul {
        gap: 20px;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
    .nav-list {
        display: none;
        position: fixed;
        top: 0;
        right: -100%;
        background: var(--color-green);
        max-width: 300px;
        width: 100%;
        padding: 30px 20px;
        height: 100vh;
        transition: 0.8s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        z-index: 11;
    }
    .close-menu {
        display: inline-block;
    }
    .main-navigation ul li a {
        display: block;
    }
    .main-navigation ul li a:hover {
        color: var(--color-white);
    }
    .nav-list.show-menu {
        right: 0;
        display: block;
        animation-name: slideToRight;
        animation-duration: 1s;
    }
    .nav-list.show-menu .side-overlay {
        display: inline;
    }
    .footer-box {
        flex-direction: column-reverse;
    }
    .side-footer, .main-footer {
        max-width: 100%;
        padding: 30px 20px;
    }
    .footer-wrapper {
        margin: 0 auto 60px;
    }
    .copyright {
        margin: 0 auto;
    }
    .social-links {
        margin-top: 40px;
    }
    .call-heading, .call-link {
        line-height: 1.5;
    }
    .our-promise-section {
        padding: 80px 0;
    }
    .primary-heading {
        margin-bottom: 10px;
    }
    .products-wrapper, .projects-box {
        grid-template-columns: 1fr 1fr;
    }
    .flip-box, .project-item {
        height: 300px;
    }
    .product-content {
        transform: translateY(16%);
    }
    .service-slide-image {
        height: 500px;
    }
    .service-slide-image img {
        height: 100%;
        object-fit: cover;
    }
    .welcome-holder {
        max-width: 720px;
        left: 50%;
        transform: translate(-50%, -35%);
    }
    .title-holder {
        background-image: none !important;
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(2px);
        height: 420px;
        padding: 10px;
    }
    .slider-content {
        padding: 0;
    }
    .slider-content .universal-btn {
        margin-top: 20px;
    }
    .single-product-section {
        padding: 60px 0 100px;
    }
    .single-product-box {
        flex-direction: column;
    }
    .product-type-box, .single-product-wrap {
        max-width: 100%;
    }
    .products-list {
        padding-left: 1rem;
    }
    .product-type-heading,
    .single-product-heading {
        font-size: 30px;
    }
    .products-list li a {
        line-height: 1.5;
    }
    .single-product-section::after,
    .contact-section::after,
    .project-section::after {
        width: 200px;
        height: 200px;
        top: 95%;
    }
    .contact-heading {
        font-size: 26px;
        margin-bottom: 30px;
    }
    .contact-form .input-group label, 
    .contact-form .input-message label, 
    .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
        line-height: 1.5;
    }
    .contact-form .input-group input, 
    .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
        height: 45px;
    }
    .contact-section {
        padding: 60px 0 80px;
    }
    .intro-section {
        padding: 40px 0 0;
    }
    .row-ways {
        display: none;
    }
    .brif-box .brif-wraped, .brif-box:nth-child(even) .brif-wraped {
        flex-direction: column;
        justify-content: start;
        gap: 16px;
    }
    .brif-box::before, .brif-box::after {
        display: none;
        content: none;
    }   
    .brif-box .custom-container, .brif-box:nth-child(even) .custom-container {
        max-width: 720px;
    }
    .brif-box {
        margin-bottom: 40px;
    }
    .brif-content, .brif-box:nth-child(even) .brif-content {
        text-align: center;
        max-width: 100%;
    }
    .brif-section {
        padding: 20px 0 60px;
    } 
    .brif-image, .brif-image img {
        max-width: 100%;
        width: 100%;
    }
    .intro-section.service-intro {
        padding: 40px 0 20px;
    }
    .service-manage .universal-btn {
        margin-top: 0;
    }
    .project-title {
        font-size: 28px;
    }
    .contact-box {
        padding: 40px 20px;
    }
}
@media (max-width: 768px) {
    :root {
        --fs-45: 24px;
        --fs-40: 22px;
        --fs-22: 16px;
        --fs-32: 17px;
        --fs-30: 18px;
        --fs-52: 32px;
    }
    .hero-section {
        margin-top: -129.52px;
    }
    .welcome-holder {
        max-width: 530px;
    }
    .title-holder {
        height: 400px;
        padding: 10px 20px;
    }
    .loader-image {
        max-width: 360px;
    }
    .main-navigation {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .our-promise-section {
        padding: 60px 0;
    }
    .our-promise-section {
        background-size: 500px;
    }
    .products-wrapper, .projects-box {
        gap: 10px;
    }
    .flip-box, .project-item {
        height: 210px;
    }
    .product-content {
        transform: translateY(22%);
    }
    .product-title {
        margin-bottom: 10px;
    }
    .products-section {
        padding: 60px 0;
    }
    .service-slide-image {
        height: 400px;
    }
    .swiper.serviceContentSlider {
        max-width: 460px;
    }
    .service-bg {
        padding: 6px;
    }
    .service-content {
        padding: 20px 16px;
    }
    .product-type-heading, .single-product-heading {
        font-size: 28px;
    }
    .contact-form .input-group {
        max-width: 100%;
        margin-bottom: 10px;
    }
    .brif-box .custom-container, .brif-box:nth-child(even) .custom-container {
        max-width: 540px;
    }
    .project-title {
        font-size: 26px;
    }
    .contact-form {
        gap: 20px;
    }
    .group-selection {
        gap: 10px;
        margin-bottom: 10px; 
    }
    .contact-form .input-message {
        margin-bottom: 10px;
    }
    .submit-form input[type="submit"] {
        margin: 10px 0;
    }
    .msd_label {
        width: 100%;
        font-size: 14px;
        line-height: 1;
    }
    .msd_options_option {
        font-size: 14px;
    }
    .msd_label img {
        margin-right: 6px;
        width: 24px;
        height: 24px;
        object-fit: contain;
    }
    .msd_options_option img {
        width: 16px;
        height: 16px;
        margin-right: 6px;
    }
    .modal-title {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .quote_modal .modal-dialog .modal-content .contact-form {
        gap: 0;
    }
}
@media (max-width: 576px) {
    :root {
        --fs-20: 16px;
        --fs-45: 22px;
        --fs-30: 17px;
        --fs-16: 14px;
        --fs-40: 20px;
        --fs-22: 15px;
        --fs-52: 30px;
        --fs-32: 15px;
        --fs-25: 16px;
    }
    .hero-section {
        margin-top: -112.44px;
    }
    .loader-image {
        max-width: 320px;
    }
    .site-logo {
        max-width: 165px;
    }
    .universal-btn {
        padding: 6px 24px;
    }
    .hamburger, .hamburger-one:before, .hamburger-one:after {
        height: 2px;
    }
    .hamburger:before {
        top: -10px;
    }
    .hamburger:after {
        top: 10px;
    }
    .main-navigation {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .quote a {
        white-space: nowrap;
    }
    .footer-wrapper {
        flex-direction: column;
        gap: 20px;
        margin: 0 auto 30px;
    }
    .extra-links li {
        margin-bottom: 12px;
    }
    .social-links {
        margin-top: 30px;
    }
    .footer-links li a {
        line-height: 40px;
    }
    .subscribe-mail {
        max-width: 100%;
    }
    .call-section {
        padding: 40px 0;
    }
    .call-heading {
        margin: 0 auto 10px;
    }
    .our-promise-section {
        padding: 40px 0;
    }
    .promise-description {
        line-height: 1.6;
        font-weight: 400;
    }
    .our-promise-section {
        background-size: 200px;
    }
    .products-wrapper, .projects-box {
        grid-template-columns: 1fr;
    }
    .flip-box {
        max-width: 100%;
        height: 300px;
    }
    .project-item {
        max-width: 100%;
        height: auto;
    }
    .product-content {
        transform: translateY(14%);
    }
    .product-title {
        margin-bottom: 20px;
    }
    .products-section {
        padding: 50px 0;
    }
    .products-wrapper, .projects-box {
        gap: 20px;
    }
    .services-section {
        padding: 60px 0;
    }
    .welcome-holder {
        max-width: 100%;
        padding: 0 12px;
    }
    .welcome-holder {
        transform: translate(-50%, -40%);
    }
    .title-holder {
        height: auto;
        padding: 60px 20px;
    }
    .single-product-section {
        padding: 40px 0;
    }
    .product-type-heading, .single-product-heading {
        font-size: 26px;
    }
    .products-list li {
        margin-bottom: 12px;
    }
    .product-slide {
        height: auto;
    }
    .single-product-section::after, 
    .contact-section::after,
    .project-section::after {
        width: 150px;
        height: 100px;
        top: 100%;
    }
    .contact-section {
        padding: 40px 0 60px;
    }
    .intro-heading::after {
        width: 200px;
        height: 60px;
    }
    .brif-description, .brif-list li {
        font-size: 14px;
    }
    .brif-list {
        margin-bottom: 20px;
    }
    .project-title {
        font-size: 24px;
    }
    .group-selection {
        grid-template-columns: 1fr;
    }
    .submit-form {
        gap: 16px;
        flex-wrap: wrap;
    }
    .quote_modal .modal-dialog .modal-content {
        padding: 20px;
    }
    .modal-content .contact-form {
        row-gap: 16px;
    }
    .modal-content .contact-form .input-group input, .input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
        height: 38px;
    }
    .modal-title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .modal-content .submit-form input[type="submit"] {
        padding: 8px 20px;
        max-width: max-content;
    }
}
@media (max-width: 430px) {
    :root {
        --fs-45: 20px;  
        --fs-30: 16px;
        --fs-40: 18px;
        --fs-32: 14px;
        --fs-22: 14px;
        --fs-52: 26px;
        --fs-25: 15px;
    }
    .loader-image {
        max-width: 240px;
    }
    .grid-header {
        gap: 10px;
    }
    .side-footer, .main-footer {
        padding: 30px 10px;
    }
    .social-links {
        gap: 16px;
        flex-wrap: wrap;
    }
    .footer-links li {
        padding-bottom: 10px;
    }
    .footer-links li a {
        line-height: 1.5;
    }
    .footer-wrapper {
        gap: 10px;
    }
    .products-wrapper {
        padding-top: 20px;
    }
    .service-slide-image {
        height: 360px;
    }
    .swiper.serviceContentSlider {
        max-width: 90%;
    }
    .title-holder {
        padding: 60px 10px;
    }
    .image-home {
        height: 100vh;
    }
    .product-type-heading, .single-product-heading {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .single-product-box {
        gap: 20px;
    }
    .products-list li {
        margin-bottom: 8px;
    }
    .myThumbSlider .swiper-slide {
        max-width: 50px;
    }
    .service-manage .universal-btn {
        font-size: 14px;
    }
    .msd_label {
        height: 45px;
    }
    .contact-heading {
        font-size: 24px;
    }
    .modal-content .contact-form {
        row-gap: 10px;
    }
}
@media (max-width: 360px) {
    :root {
        --fs-40: 16px;
        --fs-52: 24px;
        --fs-25: 14px;
    }
    .universal-btn {
        padding: 6px 16px;
    }
    .copyright p {
        font-size: 12px;
    }
    .flip-box {
        height: 260px;
    }
    .slider-content .universal-btn {
        margin-top: 16px;
    }
    .product-type-heading, .single-product-heading {
        font-size: 20px;
    }
    .intro-description, .brif-description, .brif-list li {
        font-size: 12px;
    }
    .intro-description {
        padding-bottom: 10px;
    }
    .project-title {
        font-size: 22px;
    }
    .contact-box {
        padding: 30px 10px;
    }
    .contact-heading {
        font-size: 22px;
    }
}
@keyframes slideToRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}